body {
  font-family: "ArcadeClassic", sans-serif;
  background-color: black;
  color: white;
}

#upper-part {
  height: 40vh;
  border-bottom: 7px solid #dad8d8;
  margin: 0;
  padding: 0;
}

#again {
  font-family: "ArcadeClassic", sans-serif;
  display: inline;
  height: fit-content;
  width: fit-content;
  font-size: 45px;
  background-color: #f0efef;
  margin: 13px;
  padding: 10px 26px;
}

#guess {
  font-size: 85px;
  margin: 70px 0 10px 90px;
}

#range {
  display: inline;
  height: 30px;
  width: 300px;
  color: white;
  font-size: 30px;
  margin-left: 38vw;
}

#question {
  text-align: center;
  font-size: 90px;
  height: 120px;
  width: 130px;
  background-color: #dad8d8;
  margin: 70px 30px 30px 400px;
  padding: 0px;
  font-family: "ArcadeClassic", sans-serif;
}

#lower-part {
  position: relative;
  margin: 0;
  padding: 0;
}

#input-box {
  width: 320px;
  margin: 150px 0px 50px 60px;
}

#input-bar {
  width: 300px;
  height: 130px;
  background-color: black;
  border: 4px solid #dad8d8;
  font-size: 80px;
  color: white;
  font-family: "ArcadeClassic", sans-serif;
  margin-top: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#check-box {
  font-family: "ArcadeClassic", sans-serif;
  height: 70px;
  width: 168px;
  font-size: 40px;
  margin: 80px 70px;
  padding: 10px 20px;
}

#right-para {
  position: absolute;
  color: white;
  top: -70px;
  left: 46vw;
  font-size: 45px;
  padding: 10px;
  padding-top: 0;
  margin: 0;
}

#guessing {
  margin: 0;
  padding: 0;
}

.wmsg {
  display: none;
}

.wrong {
  display: inline;
  position: absolute;
  font-size: 85px;
  color: white;
  background-color: red;
  margin: 0;
  padding: 10px;
  top: -120px;
  left: 69px;
  letter-spacing: 8px;
  opacity: 0.8;
}
